@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    margin: 0;
    color: black;
    font-family: 'Muli', sans-serif;
}

.createBlog h2 {
    text-align: center;
}

.navigation {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    background-color: #f8f8f8;
    /* Arka plan rengi */
}

.navigation h1 {
    color: cornflowerblue;
    font-family: 'Quicksand', sans-serif;
    margin-right: auto;
}

.navigation a {
    color: red;
    text-decoration: none;
    margin-left: 16px;
    padding: 6px;
    border: 1px solid red;
    /* Kenarlık ekleme */
    transition: color 0.3s ease, border-color 0.3s ease;
    /* Renk ve kenarlık geçişi */
}

.navigation a:hover {
    color: brown;
    border-color: brown;
    /* Hover durumunda kenarlık rengi değiştirme */
}

.home {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.blogs-preview {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: background-color 0.3s;
    position: relative;
}

.blogs-preview:hover {
    background-color: #e0e0e0;
    /* Change to the desired hover background color */
}

.blogs-preview h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.blogs-preview p {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.blogs-preview button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 10px;
}

.blogs-preview a {
    text-decoration: none;
}

.blogs-preview button:hover {
    background-color: #c0392b;
}
